.contact {
    background-image: url('../../Assets/banner/5124556.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, .7);
    background-blend-mode: overlay;
    height: 100vh;
}